COMSOL/2D_rectangle/2D_turn.mph
COMSOL/2D_rectangle/2D_rectangle.mph
COMSOL/2D_turn/2D_turn_stationary.mph.lock
COMSOL/chemical_reaction/chemical_reaction.mph
COMSOL/2D_turn_chemical_reaction/2D_turn_stationary.mph.lock
COMSOL/2D_turn_chemical_reaction/2D_turn_chemıical_reaction.mph
COMSOL/2D_turn/figures/geometry.mphtxt
COMSOL/2D_turn_chemical_reaction/dataset/geometry.mphtxt
